/* -------------- CSS Reset -------------- */
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}
body{
    font-family:  Arial, sans-serif;
    width: 100%;
    color: blanchedalmond;
    background:  #2a3132;
   /* background:  #5d6e70; */
}
/* ------------------------------------------ */

.searchBox{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}
.form{
    display: flex;
    justify-content: center;
}

.jankariBox{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.mainWeather{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.okayishData{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.fluffData{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}