/* ======== CSS Reset ======== */

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}
body{
    font-family:  Arial, sans-serif;
    width: 100%;
    color: blanchedalmond;
    /* background:  #2a3132; */

    background-color: #F9e399;
   
}
/* ========================= */

.searchBox{
    padding: 10px;
    margin: 10px;
}
.form{
    display: flex;
    justify-content: center;
}

.jankariBox{
    border: 4px solid #99aff9;
    border-radius: 29px;
    padding: 10px;
    margin: 10px;


    display: flex;
    flex-direction: column;
    align-items: center;

    color: #191919;
}

#cityName{
    padding: 10px;
    margin: 40px;
    font-size: 400%;
    font-family: 'Times New Roman', Times, serif;

    height: 50px;
}

#mainWeather{
    padding: 10px;
    margin: 30px;
    font-size: 250%;
    
}

#okayishData{
    padding: 10px;
    margin: 10px;
    font-size: 200%;
}

#fluffData{
    padding: 10px;
    margin: 10px;
    font-size: 150%;
}